@import '/public/scss/colours';

.footer {
  background: $green;
  background: linear-gradient(100deg, $green 0%, $purple 100%);
  color: white;
  font-size: .9rem;

  h4 {
    font-size: 1.2rem;
  }

  ul {
    padding-left: 0;
  }
}