@import '/public/scss/fonts';
@import '/public/scss/colours';
/*
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Amita', serif;
font-family: 'Alegreya', serif;

8386f5 purple
54d66f green
*/

/*
DARK MODE:
#1d1d20
#717171
rgb(29 29 32 / 50%)
*/

body {
  margin: 0;
  max-width: 100vw;
}
section {
  overflow:hidden;
}
h1 {
  font-family: 'Amita', serif;
  letter-spacing: 1px;
  font-size: 5rem;
}
h2 {
  font-family: 'Alegreya Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h3 {
  font-family: 'Alegreya', serif;
  letter-spacing: 1px;
}
h4 {
  font-family: 'Amita', serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
}
h5 {
  letter-spacing: 1px;
}
h6 {
  letter-spacing: 1px;
}
.h1 {
  font-family: 'Amita', serif;
  text-transform: none;
  font-size: 100px;
  letter-spacing: 1px;
}
.h2 {
  font-family: 'Alegreya Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.h3 {
  font-family: 'Alegreya', serif;
  text-transform: none;
  letter-spacing: 1px;
}
.h4 {
  font-family: 'Alegreya Sans', sans-serif;
  text-transform: none;
  letter-spacing: 1px;
}
.h5 {
  font-family: 'Alegreya', serif;
  text-transform: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.h6 {
  
  text-transform: none;
  letter-spacing: 1px;
}
ul {
  margin: 0;
  list-style: none;
  letter-spacing: 1px;
}