@import '/public/scss/colours';

.home {
  font-size: 1.2rem;
  
  .heroSection {
    min-height: 100vh;
    color: #fff;
    background: $green;
    background: linear-gradient(110deg, $green 0%, $purple 100%);
  }

  .experienceSection {
    background-color: $purple;
    margin-top: 90px;
    color: #fff;
  }

  .mainHeader {
    font-size: 100px !important;
  }
  .subHeader {
    font-size: 30px !important;
  }
  .secondaryHeader {
    font-size: 60px !important;
  }
  .motionHeading {
    opacity: 0;
  }
}
.green {
  color: $green;
}
.purple {
  color: $purple;
}

.parallax {
  /* The image used */
  
/* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta {
  height: 0px;
  position: relative;
  
  & > div {
    border-radius: 5px;
    position: absolute;
    height: 120px;
    left: 50%;
    top: -60px;
    transform: translate(-50%);
    background: #fff;
  }
}