@import '/public/scss/colours';

.timeline {
  position: relative;
  .tlCard {
    padding: 25px 15px;
    margin: 18px 10px 10px 10px;
    background-color: rgba(255,255,255,.2);
    box-shadow: 3px 3px 10px rgba(64, 68, 191, 0.5);
    
    h3 {
      line-height: 20px;
    }
    small {
      font-size: 1rem;
      color: #4145bf;
    }
  }
  .tlDate {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
    padding:  0 10px; 
    text-shadow: 3px 3px 10px rgba(64, 68, 191, 0.5);
  }
  .tlBar {
    position: absolute;
    width: 5px;
    top: 15px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(64, 68, 191, 0.5);
  }
  .row:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    height: 15px;
    width: 15px;
    border-radius: 15px;    
  }
  .tlTags span{
    background-color: #fff;
    color: $green;
    cursor: default;
    font-weight: 700;
    padding: 5px 8px;
    margin: 2px 4px;
    font-size: 14px;
    border-radius: 27px;
    display: inline-block;
    box-shadow: 0px 0px 5px rgba(64, 68, 191, 0.5);
  }
}